<h1 class="page-header">Admins</h1>
<div class="panel panel-default">
<div class="panel-heading">
    Admins
    <%= link_to new_backoffice_admin_path, class: "btn btn-success btn-circle pull-right",  style:"margin-top: -5px" do%>
    <i class="fa fa-plus"></i>
    <%end%>
</div>
<div class="panel-body">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            <% @admin.each do |admin|%>
                <tr>
                    <td><%=admin.id%></td>
                    <td><%=admin.name%></td>
                    <td><%=admin.email%></td>
                    <td><%=admin.role%></td>
                    <td style="width: 150px">
                        <%= link_to edit_backoffice_admin_path(admin), class: "btn btn-primary btn-circle" do %>
                        <i class="fa fa-wrench"></i>
                        <%end%>
                        <% if current_admin.id != admin.id%>
                            <%= link_to backoffice_admin_path(admin), method: :delete, class: "btn btn-danger btn-circle",
                            data: {confirm: "Want delete '<b>#{admin.email}</b>'?"} do%>
                            <i class="fa fa-times"></i>
                            <%end%>
                        <%end%>
                    </td>
                </tr>
            <%end%>
            </tbody>
        </table>
    </div>
</div>
</div>